.bg-blue2 {
  background-color: #1677c7;
}

.btn-blue {
  background: #19b8d4 !important;
  color: white;
}

.btn-blue {
  background: #19a4bd !important;
}

.h-header2 {
  height: 55.5vh;
}

.p-size {
  font-size: 25px;
}

#imagem_cliente {
  width: 200px;
  height: 200px;
  background-image: url("../../images/i-cli.png");
  background-size: cover;
}

#imagem_profissional {
  width: 200px;
  height: 200px;
  background-image: url("../../images/i-pro.png");
  background-size: cover;
}

@media (min-width: 768px) {
  .w-md-50 {
    width: 50%;
  }
  .end {
    justify-content: flex-end;
  }
  .start {
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .w-md-50 {
    width: 100%;
  }
  .flex-md-row {
    flex-direction: column;
  }
  .center {
    justify-content: center;
  }
}

.profile-type-container {
  width: 80%;
  min-height: 30px;
}
