.btn-sair {
  width: 70px;
  height: 37px;
  background-color: #ffffff;
}

.btn-sair:hover {
  background-color: rgb(205, 221, 231);
  color: #0069be;
}

.foto-pequena,
.foto-pequena img {
  width: 87px;
  height: 87px;
}

.foto-pequena {
  border-radius: 20px;
}

.foto-grande,
.foto-grande img {
  width: 150px;
  height: 150px;
}

.foto-grande img {
  border-radius: 80px;
}

.foto-xgrande,
.foto-xgrande img {
  width: 230px;
  height: 230px;
}

.foto-xgrande {
  border-radius: 90px;
}

#icon-menu-hamburguer {
  width: 50px;
  height: 50px;
  background-image: url("../images/open-menu.png");
  background-size: cover;
  cursor: pointer;
  z-index: 5;
}

#container-controller {
  width: 250px;
  height: 130vh;
  background: linear-gradient(180deg, #19b8d4 0%, rgba(255, 255, 255, 0) 100%),
    #4ac6dc;
  padding-top: 100px;
  display: none;
  margin-top: -25px;
}

#icon-menu-hamburguer:hover > #container-controller {
  display: block;
  z-index: 5;
}

.btn-green-water {
  background-color: #1b9c94;
}

.btn-green-water:hover {
  background-color: #198a83;
}
.btn-controller:hover {
  background-color: #03579c;
}

.btn-green {
  background-color: #16c772;
}

.text-green {
  color: #16c772;
}

.btn-green:hover {
  background-color: #07ab5c;
}
.container-home {
  background-image: url("../images/back-gray.png");
}

#container-notification {
  width: 250px;
  height: 439px;
  background: linear-gradient(180deg, #19b8d4 0%, rgba(255, 255, 255, 0) 100%),
    #4ac6dc;
  padding-top: 100px;
}

#logo,
#logo img {
  width: 175px;
  height: 148px;
  cursor: pointer;
}

.container-perfil {
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  .container-perfil {
    width: 100%;
    margin-top: 20px;
  }
  #container-notification-md {
    display: block;
    height: 180px;
    width: 100%;
    margin-bottom: 25px;
    background: linear-gradient(180deg, #19b8d4 0%, rgba(255, 255, 255, 0) 100%),
      #4ac6dc;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #container-notification-md .btn-controller,
  .btn-green {
    height: 40px;
    width: 300px;
  }
}

@media (min-width: 992px) {
  .container-perfil {
    width: 55%;
    margin-top: 100px;
  }
  #container-notification-md,
  #container-notification-md * {
    display: none;
  }
}

.w-35 {
  width: 35%;
}
.w-47 {
  width: 47%;
}
.w-65 {
  width: 60%;
}

/* MODAL */
.modalFeedBack {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.1);
}

.margin-left {
  margin-left: 35%;
}

.titulo-medio {
  font-size: 25px;
}

p {
  margin-bottom: 2px;
  padding: 0px;
}

.w-85 {
  width: 85%;
}

.link {
  padding-left: 5px;
  color: #34b8ff;
  cursor: pointer;
}
.container-card-solicitacao {
  min-height: 400px;
  width: 90%;
  box-shadow: 5px 5px 6px #8a9596;
}

.bg-pendentes {
  background-color: #3cb7c7;
}

.card-solicitacao {
  height: 380px;
  width: 90%;
  margin-top: 15px;
  background-color: white;
  border: solid 1px white;
  border-radius: 20px;
}
