/* Padrão */
.separador-de-sessao {
  height: 412px;
  background-image: url("../images/separa-sessao2.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.separador-de-sessao-small {
  height: 300px;
  background-image: url("../images/separa-sessao.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.text-title {
  font-size: 45px;
}
.text-subtitle {
  font-size: 35px;
}

.skew {
  width: 550px;
  height: 50px;
  padding-right: 10px;
  background: black;
  -webkit-transform: skew(0deg); /* Chrome, Opera */
  -ms-transform: skew(0deg); /* IE */
  transform: skew(0deg); /* Padrão */
}
.negative {
  -webkit-transform: skew(-18deg); /* Chrome, Opera */
  -ms-transform: skew(-18deg); /* IE */
  transform: skew(-18deg); /* Padrão */
}

.text-yellow {
  color: #fad24d;
}
.bg-yellow {
  background-color: #fad24d;
}

.background-gray {
  background-image: url("../images/back-gray.png");
}

/* Seção Header */
@media (min-width: 768px) and (max-width: 991.98px) {
  #section-header {
    height: 430px;
  }
  .img-header {
    margin-top: 10px;
  }
  .img-header {
    margin-top: 70px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #section-header {
    height: 410px;
  }
  .img-header {
    margin-top: 45px;
  }
}

@media (min-width: 1200px) {
  #section-header {
    height: 320px;
  }
  .img-header {
    margin-top: 5px;
  }
}

.img-header {
  height: 315px;
  width: 230px;
  background-size: cover;
  background-image: url("../images/header.svg");
}

/* Seção O que somos */
@media (min-width: 768px) and (max-width: 991.98px) {
  #section-o-que-somos {
    height: 850px;
    background-image: url("../images/Union-blue-dark-md.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #section-o-que-somos {
    height: 850px;
    background-image: url("../images/Union-blue-dark-lg.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: 1200px) {
  #section-o-que-somos {
    height: 850px;
    background-image: url("../images/Union-blue-dark.svg");
    background-repeat: no-repeat;
  }
}

/* Seção Como funciona */
.marcador {
  width: 70px;
  height: 126px;
}

@media (min-width: 1200px) {
  #section-como-funciona {
    height: 500px;
  }

  #section-como-funciona .container {
    height: 500px;
    background-image: url("../images/Union-blue.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #section-como-funciona {
    height: 500px;
  }

  #section-como-funciona .container {
    height: 500px;
    background-image: url("../images/Union-blue-lg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Seção Vantagens */
.icon-vantagem {
  width: 120px;
  height: 120px;
  background-size: cover;
}
.icon-vantagem01 {
  background-image: url("../images/star.png");
}
.icon-vantagem02 {
  background-image: url("../images/clock.png");
}
.icon-vantagem03 {
  background-image: url("../images/contract.png");
}
.icon-vantagem04 {
  background-image: url("../images/pin.png");
}
.icon-vantagem05 {
  background-image: url("../images/money.png");
}
.icon-vantagem06 {
  background-image: url("../images/pin.png");
}
.icon-vantagem07 {
  background-image: url("../images/star.png");
}
.icon-vantagem08 {
  background-image: url("../images/calendar.png");
}
.icon-vantagem09 {
  background-image: url("../images/money2.png");
}

/* Seção Pagamento e serviços */
.img-pagamento {
  width: 400px;
  height: 358px;
  background-image: url("../images/pagamento.svg");
  background-size: cover;
}

/* Seção Regiões */
.img-regioes {
  height: 200px;
  background-image: url("../images/separa-sessao.webp");
  background-size: cover;
}

/* Seção Depoimentos */
.card-depoimentos-profissionais {
  min-height: 350px;
}
.card-depoimentos-clientes {
  min-height: 420px;
}

.bg-blue-card {
  background-color: #2c6bb8;
}
.border-blue-card {
  border: solid 1px #2c6bb8;
}
