/* Background */

.bg-blue {
  background: #19b8d4 !important;
}

.bg-blue-dark {
  background: #0069be !important;
}

.bg-brown {
  background: #6e4e4e !important;
}

/* Textos */

.text-blue {
  color: #19b8d4;
}

.text-blue-dark {
  color: #0069be;
}

.text-brown {
  color: #6e4e4e;
}

.text-gray {
  color: #585858;
}

/* Modificações de botões */

.btn-radius {
  border-radius: 25px;
}

.btn-nav {
  width: 90px;
}

/* Botões - cor */

.btn-blue-dark {
  color: #fff;
  background-color: #0069be;
  border-color: #0069be;
}

.btn-blue-dark:hover {
  color: #fff;
  background-color: #135aa7;
  border-color: #0062cc;
}

.btn-blue-dark.focus,
.btn-blue-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-blue-dark.disabled,
.btn-blue-dark:disabled {
  color: #fff;
  background-color: #0069be;
  border-color: #0069be;
}

.btn-blue-dark:not(:disabled):not(.disabled).active,
.btn-blue-dark:not(:disabled):not(.disabled):active,
.show > .btn-blue-dark.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-blue-dark:not(:disabled):not(.disabled).active:focus,
.btn-blue-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-blue-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* Logotipo */
.logotipo {
  width: 138px;
  height: 116px;
  background-image: url("./images/logo.png");
  background-size: cover;
}

/* Rodapé */
.redes-sociais {
  width: 55px;
  height: 55px;
  background-size: cover;
  cursor: pointer;
  border: solid 1px white;
  border-radius: 25px;
}

#facebook {
  background-image: url("./images/facebook.png");
}
#twitter {
  background-image: url("./images/twitter.png");
}

#instagram {
  background-image: url("./images/instagram.png");
}

#android {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-image: url("./images/iconfinder_Android_robot_social_271510.png");
}

.rodape-link {
  cursor: pointer;
}
